.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;
    --search-button-width: 52px;

    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: var(--defaultLayout-Header-Height);
    width: 100%;
    top: 0;
    position: fixed;
    align-items: center;
    z-index: 1000;
}
.inner {
    height: 100%;
    width: var(--defaultLayout-Width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: var(--primary); // ko nạp đc globalStyles
}
.logo {
}

.more-btn {
    font-size: 2rem;
    margin-left: 16px;
    padding: 4px 10px;
    background-color: transparent;
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
}

.menu-items {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 22px;
    padding: 8px 0px;
    margin: 0px;
    min-width: 223px;
    list-style: none;
}
.action-btn {
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
    background-color: transparent;
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
